# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
build/*
.gradle/*

# Data from the Kensho Set - Stored locally not needed in git
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/statements.csv
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/property.csv
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/property_aliases.csv
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/link_annotated_text.jsonl
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/page.csv
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/item.csv
src/main/java/edu/ForceDrawnGraphs/Wikiverse/data/item_aliases.csv
